@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

:root {
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.wrap {
  background-color: #6644aa;
  height: 100vh;
  padding: 20px;
}

.heading {
  margin: 10px auto 40px auto;
}

.heading .title {
  font-size: 50px;
  color: #faebd7;
  font-weight: 500;
  text-align: center;
}

.heading .subtitle {
  font-size: 20px;
  color: #faebd7;
  font-weight: 300;
  text-align: center;
}

.task-manager {
  min-width: 350px;
  max-width: 450px;
  margin: auto;
}

.search-box,
.task-box,
.message {
  background-color: #fafce9;
  padding: 20px 25px;
  border-radius: 3px;
  margin: 20px 0px;
}

.search-box .search {
  display: flex;
  margin: 10px 0px;
}

.search-box input {
  border-radius: 3px;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
}

.search-box i.reset {
  font-size: 24px;
  height: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.task-box .tasks {
  margin: 10px 0px;
}

.task-box li {
  background-color: #6644aa22;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: #191919;
}

.task-box span {
  padding: 10px;
}

.task-box i.delete {
  color: #faebd7;
  background-color: #d82148;
  border-radius: 0px 2px 2px 0px;
  padding: 10px;
  cursor: pointer;
}

.task-box .add {
  display: flex;
  margin: 30px 0 10px 0;
}

.task-box input[type="text"] {
  border-radius: 3px;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
}

.task-box input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #65dd8c;
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  color: #292929;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message .clear {
  border: 0px;
  background-color: #11468f;
  color: #faebd7;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
}

.footer {
  margin-top: 50px auto 50px;
  text-align: center;
  color: #552133;
}
